@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --bg-color: #090909;
    --principal-text-color: #FFFFFF;
    --secondary-text-color: #ca958a;
    --buttons-primary-color: #624343;
}


* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: none;
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 30px;
}

/* NAVBAR START */


.nav-logo img {
    width: 100%;
    display: flex;
}

nav {
    box-shadow: 0px 1px 20px #000000;
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}


a {
    text-decoration: none;
    color: var(--principal-text-color);
}

nav {
    margin: 0 0 -10px 0;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: sticky;
    top: 0;
}

.nav-logo {
    width: 130px;
    display: flex;
}

.nav-logo a {
    display: flex;
    align-items: center;
    width: 50px;
    gap: .5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--principal-text-color);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 5px;
    left: 50%;
    background-color: var(--secondary-text-color);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.link a:hover::after {
    width: 80%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--principal-text-color);
    background-color: var(--buttons-primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}

nav .btn:hover {
    filter: brightness(0.5);
}


/* SLIDER START */


header .swiper-slide {
    text-align: center;

}

header .swiper-slide img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
}

.text-swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-swiper span {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 0px 5px 6px #000000;
}

.text-swiper h1 {
    color: #ffffff;
    font-size: 10rem;
    font-weight: 900;
    margin-top: -3rem;
    text-shadow: 0px 20px 15px #000000;
    letter-spacing: 5px;
}

.text-swiper p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: 5rem;
    text-shadow: 0px 5px 6px #000000;
}

header .btn {
    box-shadow: 0px 4px 5px #000000;
}


/* SECTION PRODUCTOS */

.productos-container {
    color: white;
    margin: 4rem 2rem;
}

.productos-container h3 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 8rem;
}


.card {
    width: 100rem;
    height: 20rem;
    margin: -5rem 0;
}


.position-bottom {
    object-position: bottom;
}

.position-center {
    object-position: center;
}

.productos-container .card .content img {
    object-fit: cover;
    width: 290px;
    height: 160px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #2c2c2c;
    transition: all 0.3s ease;
}



.img:hover img {
    transform: scale(1.1);
}





/* SECTION DIRECCION */


.direccion-container h3 {
    color: white;
    font-size: 3rem;
    margin-top: -3rem;
    text-align: center;
    margin-bottom: 3rem;
}

section .maps-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
}



.direcciones-container .tittle {
    background-color: #2e2626;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    border: solid 1px #b9b8b8;
}

.direcciones {
    overflow: scroll;
    overflow-x: hidden;
    width: 35rem;
    height: 475px;

}


.direcciones .sede {
    width: 100%;
    padding: 1rem;
    color: white;
    border: solid 0.5px #b9b8b8;
    background-color: #302929;
}

.sede:hover {
    background-color: rgb(186, 186, 186);
    color: black;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sede-active {
    width: 100%;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border: solid 0.5px #b9b8b8;
    background-color: rgb(186, 186, 186);
}






.line {
    margin: 5rem 0;
    width: 100%;
    height: 1px;
    border: 1px solid #ffffff;
    opacity: 0.1;
}

.contact-container {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    opacity: 0.6;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

footer ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
}